#Scene {
    overflow: hidden;
    width: 90vw;
    height: 50vw;
    margin: auto;
    position: relative;
}

/*Baggrund*/

#girl_room {
    background-image: url(baggrund/Room-01.png);
    background-size: 100%;
    width: 90vw;
    height: 50vw;
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;

}


#class_room {
    background-image: url(baggrund/classroom_Tegnebr%C3%A6t%201.png);
    background-size: 100%;
    width: 90vw;
    height: 50vw;
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    display: none;
}



#reklame_show {
    background-image: url(baggrund/delt.png);
    background-size: 100%;
    width: 90vw;
    height: 50vw;
    position: absolute;
    z-index: 20;
    display: none;
}

#reklame_text {
    background-image: url(baggrund/flirt.png);
    background-size: 100%;
    width: 90vw;
    height: 50vw;
    position: absolute;
    z-index: 21;
    display: none;
}

/*Figurer*/

#girl_container {
    position: absolute;
    z-index: 4;
    height: 23vw;
    width: 20vw;
    top: 27vw;
    left: 65vw;
}

.girl_go_room {
    animation-name: go_room;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;

}

@keyframes go_room {
    from {
        left: 80vw;
    }
    to {
        left: 65vw;
    }
}

.girl_move_in {
    animation-name: go_class;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;

}

@keyframes go_class {
    from {
        left: 80vw;
    }
    to {
        left: 65vw;
    }
}


.girl_move_out {
    animation-name: class;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: both;

}

@keyframes class {
    from {
        left: 65vw;
    }
    to {
        left: 90vw;
    }
}

.girl_position_in {
    left: 65vw;
    top: 27vw;

}

#girl_sprite {
    background-image: url(sprite/amalie_spritesheet.png);
    background-size: 600% 400%;
    height: 23vw;
    width: 20vw;
    transform: scale(0.7);
}

.girl_walk_room {
    animation-name: walk_room_kf;
    animation-duration: 3s;
    animation-timing-function: steps(5);
    animation-fill-mode: both;
    animation-iteration-count: 2;
}

@keyframes walk_room_kf {
    0% {
        background-position: 0 -100%;

    }

    100% {
        background-position: -500% -100%;
    }

}


.girl_walk {
    animation-name: walk;
    animation-duration: 6s;
    animation-timing-function: steps(6);
    animation-fill-mode: both;
    animation-iteration-count: 2;
}

@keyframes walk {
    0% {
        background-position: 0 -100%;

    }

    100% {
        background-position: -600% -100%;
    }
}

.girl_run {
    animation-name: run;
    animation-duration: 3s;
    animation-timing-function: steps(5);
    animation-fill-mode: both;
    animation-iteration-count: 1;

}

@keyframes run {
    0% {
        background-position: 0 -200%;

    }

    100% {
        background-position: -500% -200%;
    }
}

.girl_phone_smile {
    animation-name: smile;
    animation-duration: 5s;
    animation-timing-function: steps(3);
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

@keyframes smile {
    0% {
        background-position: 0 0%;

    }

    100% {
        background-position: -300% 0%;
    }
}


#phone_container {
    position: absolute;
    z-index: 4;
    height: 70vw;
    width: 40vw;
    top: -9vw;
    left: -2vw;

}

.phone_came_up {
    animation-name: came_up;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;

}

@keyframes came_up {
    from {
        top: 40vw;
    }

    to {
        top: -9vw;
    }
}


#phone_sprite {
    background-image: url(sprite/phone_sprite.png);
    background-size: 600% 400%;
    height: 70vw;
    width: 40vw;
    transform: scale(0.6);

}

.crush_pic_phone {
    animation-name: crush_pic_phone;
    animation-duration: 13s;
    animation-timing-function: steps(5);
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

@keyframes crush_pic_phone {
    0% {
        background-position: 0 0;

    }

    100% {
        background-position: -500% 0;
    }

}

.crush {
    animation-name: crush;
    animation-duration: 3s;
    animation-timing-function: steps(1);
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

@keyframes crush {
    0% {
        background-position: 0 -100%;

    }

    100% {
        background-position: 0 -100%;
    }

}

.phone_goodmorning {
    animation-name: phone_goodmorning;
    animation-duration: 6s;
    animation-timing-function: steps(2);
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

@keyframes phone_goodmorning {
    0% {
        background-position: 0 -200%;

    }

    100% {
        background-position: -200% -200%;
    }

}


.phone_pic {
    animation-name: pic_phone;
    animation-duration: 6s;
    animation-timing-function: steps(0);
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

@keyframes pic_phone {
    0% {
        background-position: 0% -300%;

    }

    100% {
        background-position: 0% -300%;
    }
}



#boy_container {
    position: absolute;
    z-index: 5;
    height: 23vw;
    width: 18vw;
    top: 29vw;
    left: 56vw;
    display: none;
}

.boy_position_in {
    left: 56vw;
    top: 31vw;
}

.boy_move_in {
    animation-name: boy_move;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes boy_move {
    from {
        left: 80vw;

    }

    to {
        left: 56vw;
    }
}

#boy_sprite {
    background-image: url(sprite/boy_sprite.png);
    background-size: 1200% 500%;
    height: 23vw;
    width: 18vw;
    transform: scale(0.7);

}

.boy_walk {
    animation-name: boy_walk;
    animation-duration: 3s;
    animation-timing-function: steps(4);
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

@keyframes boy_walk {
    0% {
        background-position: 0 0;

    }

    100% {
        background-position: -400% 0;
    }
}


.boy_phone {
    animation-name: boy_phone;
    animation-duration: 1s;
    animation-timing-function: steps(5);
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

@keyframes boy_phone {
    0% {
        background-position: -300% -100%;

    }

    100% {
        background-position: -1100% -100%;
    }
}


.boy_show {
    animation-name: boy_show;
    animation-duration: 1s;
    animation-timing-function: steps(3);
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

@keyframes boy_show {
    0% {
        background-position: 0 -300%;

    }

    100% {
        background-position: -300% -300%;
    }
}


.boy_phone_smile {
    animation-name: boy_smile;
    animation-duration: 1s;
    animation-timing-function: steps(5);
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

@keyframes boy_smile {
    0% {
        background-position: 0 -200%;

    }

    100% {
        background-position: 0 -200%;
    }
}


#guys_container {
    position: absolute;
    z-index: 4;
    height: 24vw;
    width: 24vw;
    top: 29.6vw;
    left: 36vw;
    display: none;

}

.guys_position_in {
    left: 34vw;
    top: 29.5vw;
}

#guys_sprite {
    background-image: url(sprite/Guys.png);
    background-size: 600% 200%;
    height: 24vw;
    width: 24vw;


}

.guys_talk {

    animation-name: talk;
    animation-duration: 2s;
    animation-timing-function: steps(6);
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes talk {
    0% {
        background-position: 0 0;

    }

    100% {
        background-position: -600% 0;
    }

}

.guys_laughs {
    animation-name: laughs;
    animation-duration: 2s;
    animation-timing-function: steps(6);
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes laughs {
    0% {
        background-position: 0 -100%;

    }

    100% {
        background-position: -600% -100%;
    }
}


#share_container {
    background-image: url(baggrund/delt.png);
    position: absolute;
    background-size: 100%;
    z-index: 11;
    width: 80vw;
}

#text_container {
    background-image: url(baggrund/tips.png);
    position: absolute;
    background-size: 100%;
    z-index: 11;
    width: 80vw;
}

/*Knapper*/

#knap_hojre {
    width: 6.5vw;
    height: 2.76vw;
}

#knap_venstre {
    width: 7vw;
    height: 2.78vw;
}

#knapper {
    display: none;
}

.vis_billedet {
    background-image: url(baggrund/vis-knap.png);
    position: absolute;
    background-size: 100%;
    z-index: 11;
    width: 7vw;
    height: 2.78vw;
    left: 12vw;
    top: 39.4vw;

}




.skriv_besked {
    background-image: url(baggrund/svar-knap.png);
    position: absolute;
    background-size: 100%;
    z-index: 11;
    width: 6.5vw;
    height: 2.76vw;
    left: 21vw;
    top: 39.4vw;
    /*display: none;*/
}

@keyframes knap {
    from {
        top: 52vw;

    }

    to {
        top: 30.4vw;
    }
}

.privat_snak .first_time .hurt .flirt
